<% provide(:title, "Profile") %>

<div class="row justify-content-center">
  <div class="col-8">
    <h2>Profile</h2>
    <% if @profile.user_id == current_user.id %>
      <%= link_to "Edit", edit_profile_path(@profile), class: "btn btn-outline-success" %>
    <% end %>
    <div>
      <% unless @profile.avatar.attached? %>
        <%= image_tag gravatar_url(@profile.user.email, 300), alt: "default img" %>
      <% else %>
        <%= image_tag(@profile.profile_pic)%>
      <% end %>
    </div>
    <p> First name: <%= @profile.user.first_name %> </p>
    <p> Last name: <%= @profile.user.last_name %> </p>
    <#% if @profile.user.friends.include?(current_user.id) %>
      <p> Email: <%= @profile.user.email %> </p>
      <p> Gender: <%= @profile.gender %> </p>
      <p> Location: <%= @profile.location %> </p>
      <p> Birthday: <%= @profile.user.birthday %> </p>
    <#% end %>
  </div>
</div>
