<div class="row justify-content-center py-5">
  <div class="col-lg-8 col-md-10">
    <h2>Find a friend</h2>
    <% @users.each do |user| %>
      <div class="row justify-content-between align-items-center py-3">
        <div class="col-9 p-0 align-items-center d-flex user-list">
          <div class="tiny-pic d-inline-flex">
            <% unless user.profile.avatar.attached? %>
              <%= image_tag gravatar_url(user.profile.user.email, 300), alt: "default image", class: "img-fluid rounded" %>
            <% else %>
              <%= image_tag user.profile.profile_pic, alt: "avatar", class: "img-fluid rounded" %>
            <% end %>
          </div>
          <p class="d-inline mx-3 mb-0">
            <%=link_to "#{user.first_name} #{user.last_name}", profile_path(user.profile.id) %>
          </p>
        </div>
        <div class="col-3 text-right">
          <% if !Friend.find_by(requesting_id: current_user.id, requested_id: user.id) and !Friend.find_by(requesting_id: user.id, requested_id: current_user.id) %>
            <%= form_for Friend.create(@friend) do |f| %>
              <%= f.hidden_field :requesting_id, value: current_user.id %>
              <%= f.hidden_field :requested_id, value: user.id %>
              <%= f.button "Send a friend request", class: 'btn btn-success' %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
